@model IEnumerable<Project.Models.user>
@{
    ViewBag.Title = "Gestão de Utilizadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section styles {
    <style>
        .custom-swal {
            background-color: #222831 !important;
            color: white !important;
        }

        .swal2-confirm {
            color: white !important;
            background-color: #1f2029 !important;
            border-radius: 1rem !important;
        }

            .swal2-confirm:hover {
                opacity: 0.8 !important;
                background-color: #222831 !important;
                color: white !important;
                transition: 0.3s !important;
                border-radius: 1rem !important;
            }

        .hoverView {
            opacity: 0.8;
            background-color: #222831;
            color: white;
            transition: 0.3s;
            border-radius: 2rem;
        }

            .hoverView:hover {
                opacity: 1.2;
                color: white;
                border-color: #225841;
            }

        tbody tr {
            opacity: 0.6;
        }

        .table-container {
            display: inline-block;
        }

        tbody tr:hover {
            opacity: 1;
        }

        .table-responsive {
            overflow-x: auto;
        }
    </style>
}
@{
    if (Session["IdUser"] != null && Session["administrator"] != null)
    {
        if ((int)Session["administrator"] != 1)
        {
            Response.Redirect("/Home/Index");
        }
    }
    else
    {
        Response.Redirect("/Home/Index");
    }
}
<div class="text-center mt-3">
    @if (Model == null)
    {
        <p>
            Ainda não existem utilizadores criados!
        </p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table" style="background-color: #222831;color:white;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Tipo de Utilizador</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var user in Model)
                    {
                        var admin = user.administrator == 1 ? "Administrador" : "Comum";
                        <tr>
                            <td>@user.IdUser</td>
                            <td>
                                @user.username
                            </td>
                            <td>@user.email</td>
                            <td>@admin</td>
                            <td>
                                <button class="btn hoverView" style="background-color: #1f2029; color: white;" data-toggle="modal" data-target="#editUserModal"
                                        onclick="editUser(this)" data-user-id="@user.IdUser">
                                    Editar
                                </button>
                                <button class="btn hoverView btn-delete" style="background-color: #1f2029; color: white;" data-toggle="modal" data-target="#confirmDeleteModal" data-user-id="@user.IdUser">Apagar</button>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>}
    <div>
        <a href="/AdminPanel/Index" class="btn hoverView" style="background-color: #222831;color:white; ">Go Back</a>
    </div>
</div>
<!-- Modal de Confirmação de Exclusão -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" style="background-color: #1f2029;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #1f2029; color:white;">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir este projeto?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal de Edição do User -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true" style="background-color: #1f2029;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #1f2029; color:white;">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Editar Projeto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editusername">Username:</label>
                        <input type="text" class="form-control" id="editusername" placeholder="username" disabled>
                    </div>
                    <div class="form-group">
                        <label for="editUserEmail">Email:</label>
                        <input type="text" class="form-control" id="editUserEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="select1">Tipo de Utilizador:</label>
                        <select class="form-control" id="editUseradministrador">
                            <option value="1">Administrador</option>
                            <option value="0">Padrão</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Estado:</label>
                        <select class="form-control" id="status">
                            <option value="1">Ativo</option>
                            <option value="0">Inativo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn hoverView" style="background-color: #1f2029; color: white; " data-dismiss="modal">Fechar</button>
                <button class="btn hoverView" style="background-color: #1f2029; color: white; " id="saveChangesButton">Guardar Alterações</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section scripts {
    <script>
        function editUser(button) {
            var userId = $(button).data('user-id');

            $('#saveChangesButton').click(function () {
                var email = $('#editUserEmail').val().trim();
                var administrador = $('#editUseradministrador').val() || null;
                var status = $('#status').val();

                if (!email) {
                    Swal.fire({
                        title: 'Erro!',
                        text: 'O campo de email não pode ser vazio.',
                        customClass: 'custom-swal',
                        icon: 'error'
                    });
                    return;
                }

                $.ajax({
                    url: '/AdminPanel/UpdateUser/',
                    type: 'POST',
                    data: {
                        userId: userId,
                        email: email,
                        administrador: administrador,
                        status: status
                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Sucesso!',
                            text: 'Utilizador atualizado com sucesso!',
                            customClass: 'custom-swal',
                            icon: 'success'
                        })
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: 'Erro!',
                            text: 'Erro ao atualizar o utilizador.',
                            customClass: 'custom-swal',
                            icon: 'error'
                        });
                    }
                });
            });

            $.ajax({
                url: '/AdminPanel/GetUser',
                type: 'POST',
                dataType: 'json',
                data: { userId: userId },
                success: function (response) {
                    $('#editusername').val(response.username);
                    $('#editUserEmail').val(response.email);
                    $('#editUseradministrador').val(response.administrador);
                    $('#status').val(response.status);
                },
                error: function (xhr, status, error) {
                    Swal.fire({
                        title: 'Erro!',
                        text: 'Erro ao procurar o utilizador.',
                        customClass: 'custom-swal',
                        icon: 'error'
                    });
                }
            });
        }
        $(document).ready(function () {
            $('.btn-delete').click(function () {
                var userId = $(this).data('user-id');
                var userIdToDelete = userId;
                $('#confirmDeleteModal').modal('show');
                $('#confirmDeleteModal .btn-danger').data('user-id', userIdToDelete);
            });

            $('#confirmDeleteModal .btn-danger').click(function () {
                var userId = $(this).data('user-id');

                Swal.fire({
                    title: 'Tem a certeza?',
                    text: 'Essa ação não pode ser desfeita.',
                    icon: 'warning',
                    showCancelButton: true,
                    customClass: 'custom-swal',
                    confirmButtonText: 'Sim, apagar!',
                    cancelButtonText: 'Cancelar'
                }).then(function (result) {
                    if (result.isConfirmed) {
                        deleteUser(userId);
                    }
                });

                $('#confirmDeleteModal').modal('hide');
            });
        });
        function deleteUser(userId) {
            $.post('/Accounts/DeleteUser', { userId: userId })
                .done(function (response) {
                    Swal.fire({
                        title: response.success ? 'Sucesso!' : 'Erro!',
                        text: response.success ? 'Utilizador removido com sucesso!' : 'Erro ao remover o utilizador.',
                        customClass: 'custom-swal',
                        icon: response.success ? 'success' : 'error'
                    });
                })
                .fail(function () {
                    Swal.fire({
                        title: 'Erro!',
                        text: 'Erro ao remover o utilizador.',
                        customClass: 'custom-swal',
                        icon: 'error'
                    });
                });
        }
    </script>
}