@model IEnumerable<Project.Models.project>
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <style>
        select[name="projectTable_length"] {
            color: white !important;
        }

        input[type="search"] {
            color: white !important;
        }

        .dataTables_paginate {
            color: white !important;
        }

        .paginate_button {
            color: white !important;
        }

            .paginate_button.current {
                color: white !important;
            }

        .dataTables_paginate a {
            color: white !important;
        }

        select[name="projectTable_length"] {
            background-color: #1f2029 !important;
        }

        .dataTables_length label,
        #projectTable_filter label {
            color: white;
            background: #1f2029;
        }

        .custom-swal {
            background-color: #222831 !important;
            color: white !important;
        }

        .swal2-confirm {
            color: white !important;
            background-color: #1f2029 !important;
            border-radius: 1rem !important;
        }

            .swal2-confirm:hover {
                opacity: 0.8 !important;
                background-color: #222831 !important;
                color: white !important;
                transition: 0.3s !important;
                border-radius: 1rem !important;
            }

        tbody tr {
            opacity: 0.6;
        }

        .table-container {
            display: inline-block;
        }

        tbody tr:hover {
            opacity: 1;
        }

        .hoverView {
            opacity: 0.8;
            background-color: #222831;
            color: white;
            transition: 0.3s;
            border-radius: 2rem;
        }

            .hoverView:hover {
                opacity: 1.2;
                color: white;
                border-color: #225841;
            }

        .table-responsive {
            overflow-x: auto;
        }
    </style>
}
@{
    if (Session["IdUser"] == null)
    {
        Response.Redirect("/Home/Index");
    }
}
<div class="text-center mt-3">
    @if (Model == null)
    {
        <p>Não existem dados na tabela!</p>
    }
    else
    {
        <div class="table-responsive">
            <table id="projectTable" class="table" style="background-color: #222831;color:white;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome do Projeto</th>
                        <th>Data de Início</th>
                        <th>Data de Término</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var project in Model)
                    {
                        <tr>
                            <td>@project.IdProject</td>
                            <td>@project.name</td>
                            <td>@project.startDate.ToShortDateString()</td>
                            <td>@project.endDate.ToShortDateString()</td>
                            <td>
                                <button class="btn  pick-project-button" style=" color: white; " data-toggle="modal" data-target="#PickProjectModal" data-project-id="@project.IdProject">
                                    <ion-icon size="large" name="add-circle-outline"></ion-icon>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div>
        <a href="/Home/Index" class="btn hoverView" style="background-color: #222831;color:white; ">Go Back</a>
    </div>
</div>
<!-- Modal Pick Project -->
<div class="modal fade" id="PickProjectModal" tabindex="-1" role="dialog" aria-labelledby="PickProjectModalLabel" aria-hidden="true" style="background-color: #1f2029;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #1f2029; color:white;">
            <div class="modal-header">
                <h5 class="modal-title" id="PickProjectModalLabel">Pegar Projeto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="PickProjectName">Nome do Projeto</label>
                        <input type="text" class="form-control" id="PickProjectName" placeholder="Nome do Projeto" disabled>
                    </div>
                    <div class="form-group">
                        <label for="PickProjectDescription">Descrição</label>
                        <textarea class="form-control" id="PickProjectDescription" placeholder="Descrição" disabled></textarea>
                    </div>
                    <div class="form-group">
                        <label for="PickProjectStartDate">Data de Início</label>
                        <input type="date" class="form-control" id="PickProjectStartDate" disabled>
                    </div>
                    <div class="form-group">
                        <label for="PickProjectEndDate">Data de Término</label>
                        <input type="date" class="form-control" id="PickProjectEndDate" disabled>
                    </div>
                    <input type="hidden" id="PickProjectId" value="">
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn hoverView" style="background-color: #1f2029; color: white; " data-dismiss="modal">Fechar</button>
                <button class="btn hoverView" style="background-color: #1f2029; color: white; " id="pickprojectFromModal">Pegar Projeto</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://nightly.datatables.net/js/jquery.dataTables.js"</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"</script>
<script src="https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese.json"></script>

@section scripts {

    <script>
        function datatableShow() {
            var table = new DataTable('#projectTable', {
                language: {
                    url: "/Content/Portuguese.json"
                }
            });
        }
        $(document).ready(function () {
            datatableShow();
        $(".pick-project-button").click(function () {
            var projectId = $(this).data('project-id');
            $.ajax({
                url: '/ProjectsAvailable/GetProject',
                type: 'POST',
                data: { projectId: projectId },
                success: function (response) {
                    if (response.error) {
                        console.log(response.error);
                        return;
                    }
                    $('#PickProjectId').val(response.projectId);
                    $('#PickProjectName').val(response.name);
                    $('#PickProjectDescription').val(response.description);
                    $('#PickProjectStartDate').val(response.startDate);
                    $('#PickProjectEndDate').val(response.endDate);

                    $('#pickprojectFromModal').data('project-id', projectId);
                }
            });
        });

        $("#pickprojectFromModal").click(function () {
            var projectId = $(this).data('project-id');
            var userId = '@Session["IdUser"]';

            var data = {
                projectId: projectId,
                userId: userId
            };

            $.ajax({
                url: '/ProjectsAvailable/PickProject',
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function (result) {
                    Swal.fire({
                        title: "Sucesso",
                        text: "Projeto adicionado com sucesso",
                        icon: "success",
                        customClass: 'custom-swal'
                    }).then(function () {
                        location.reload();
                    });
                }
            });
        });
    });
    </script>
}